/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url("https://fonts.google.com/specimen/Varela+Round?query=round");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #135213;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center no-repeat #135213 !important;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#user-home {
  background: fixed center no-repeat #135213;
  color: white;
}

#user-home .card-header {
  background-color: #C9F30C !important;
}

#user-home .card-body {
  background-color: #471DE2;
}

#user-home .button {
  background-color: #23591e !important;
}

#landing-page {
  background-color: #135213;
  color: white;
}

#landing-title {
  font-family: VarelaRound, OpenSans;
  font-size: 80px;
}

#edit-title {
  color: white;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard-table th, .leaderboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.leaderboard-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#calendar-page {
  width: 95%;
  height: 80vh;
  background-color: #ffffff;
  margin: 10px auto;
  padding: 20px;
  /* Optional: add a box-shadow for a subtle depth effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow: auto;
}

.fullCalendar {
  width: 100%;
  height: 100%;
  /* Ensure that the calendar itself also has a non-green background */
  background-color: #ffffff;
}

